body{
	font-family: sans-serif;
	background-color: lightgrey;
}
.navbar{
	align-items: center;
	border-radius: 0px;
}
.navbar-header h2{
	font-family: monospace;
	font-size: 20px;
	color: white;
}
.head{
	background-color: none;
}
.head h2{
	text-align: center;
}
.main{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.mainin{
	border-radius: 10px;
	padding: 2px;
	background-color: white;
	width: 80%;
}
.btnn  #bt1{
	width: 160px;
	height: 30px;
	border-radius: 5px;
	border: none;
	background-color: orange;
	color: white;
} 

.btnn  #bt2{
	width: 160px;
	height: 30px;
	border-radius: 5px;
	border: none;
	background-color: lightgreen;
	color: white;
} 
.btnn #bt1:hover{
	background-color: lightblue;
}
.btnn #bt2:hover{
	background-color: lightblue;
}
.bt{
	background-color: blueviolet;
	border-radius: 3px;
	width: 150px;
	display: block;
	margin: 14px;
	color: white;
}
.bt:hover{
	background-color: orange;
}

table tr td{
	padding: 10px;
}